*{
    margin:0;
    font-weight:400
    }
    @font-face{
    font-family:'Bank Gothic BT';
    src:url("../fonts/Bank-Gothic-Light-BT.eot");
    src:url("../fonts/Bank-Gothic-Light-BT.woff") format("woff"),url("../fonts/Bank-Gothic-Light-BT.ttf") 
    format("truetype");
    font-weight:300;
    font-style:normal
    }
    @font-face{
    font-family:'Dosis';
    src:url("../fonts/Dosis-SemiBold.eot");
    src:url("../fonts/Dosis-SemiBold.woff") 
    format("woff"),
    url("../fonts/Dosis-SemiBold.otf") format("opentype"),
    url("../fonts/Dosis-SemiBold.ttf") format("truetype");
    font-weight:600;
    font-style:normal
    }
    @font-face{
    font-family:'Helvetica LT Std';
    src:url("../fonts/HelveticaLTStd-Cond.eot");
    src:url("../fonts/HelveticaLTStd-Cond.woff") format("woff"),
    url("fonts/HelveticaLTStd-Cond.ttf") format("truetype");
    font-weight:300;
    font-style:normal
    }
    @font-face{
    font-family:'Merriweather';
    src:url("../fonts/Merriweather-LightIt.eot");
    src:url("../fonts/Merriweather-LightIt.woff") format("woff"),
    url("../fonts/Merriweather-LightIt.otf") format("opentype"),
    url("../fonts/Merriweather-LightIt.ttf") format("truetype");
    font-weight:300;
    font-style:italic
    }
    @font-face{
    font-family:'Myriad Pro';
    src:url("../fonts/MyriadPro-Bold.eot");
    src:url("../fonts/MyriadPro-Bold.woff") format("woff"),
    url("../fonts/MyriadPro-Bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
    }
    @font-face{
    font-family:'Myriad Pro';
    src:url("../fonts/MyriadPro-Cond.eot");
    src:url("../fonts/MyriadPro-Cond.woff") format("woff"),
    url("../fonts/MyriadPro-Cond.ttf") format("truetype");
    font-weight:normal;font-style:normal
    }
    @font-face{
    font-family:'Neoteric';
    src:url("../fonts/NEOTERIC.ttf") format("truetype");
    font-weight:normal;font-style:normal
    }
    @font-face{
    font-family:'Nirmala UI';
    src:url("../fonts/NirmalaB.eot");
    src:url("../fonts/NirmalaB.woff") format("woff"),
    url("../fonts/NirmalaB.otf") format("openetype"),
    url("../fonts/NirmalaB.ttf") format("truetype");
    font-weight:bold;
    font-style:normal;
    }
    @font-face{
    font-family:'Nirmala UI';
    src:url("../fonts/Nirmala.eot");
    src:url("../fonts/Nirmala.woff") format("woff"),
    url("../fonts/Nirmala.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
    }
    @font-face{
    font-family:'Open Sans';
    src:url("../fonts/OpenSans-Bold.eot");
    src:url("../fonts/OpenSans-Bold.woff") 
    format("woff"),url("../fonts/OpenSans-Bold.otf") 
    format("opentype"),url("../fonts/OpenSans-Bold.ttf") 
    format("truetype");
    font-weight:bold;
    font-style:normal
    }
    @font-face{
    font-family:'Open Sans';
    src:url("../fonts/OpenSans-Regular.eot");
    src:url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.otf") format("opentype"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
    }
    @font-face{
    font-family:'Ostrich Sans';
    src:url("../fonts/ostrich-black.eot");
    src:url("../fonts/ostrich-black.woff") format("woff"),
    url("../fonts/ostrich-black.otf") format("opentype"),
    url("../fonts/ostrich-black.ttf") format("truetype");
    font-weight:900;
    font-style:normal;
    }
    @font-face{
    font-family:'Pompiere';
    src:url("../fonts/Pompiere-Regular.eot");
    src:url("../fonts/Pompiere-Regular.woff") format("woff"),
    url("../fonts/Pompiere-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
    }
    @font-face{
    font-family:'Zurich BT';
    src:url("../fonts/Zurich-BT-Bold.eot");
    src:url("../fonts/Zurich-BT-Bold.woff") format("woff"),
    url("../fonts/Zurich-BT-Bold.otf") format("opentype"),
    url("../fonts/Zurich-BT-Bold.ttf") format("truetype");
    font-weight:800;
    font-style:normal;
    }
    .page-header{
    max-width:1920px;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:normal;
    flex-basis:auto;
    gap:3px;
    }
    .page-header__main-container{
    border-bottom:1px solid #e9e9e9;
    box-sizing:border-box;
    padding:2.5% 0 1.98%;
    }
    .page-header__nav-container{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    align-items:normal;
    flex-basis:auto;
    border-top:1px solid #e9e9e9;
    padding:1.042% 0;
    }
    .page-header__main-wrapper{
    max-width:1260px;
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    align-items:center;
    flex-basis:auto;margin:auto;
    }
    .page-header__nav-wrapper{
    display:flex;
    justify-content:space-between;
    flex-direction:row;align-items:center;
    flex-basis:1260px;
    margin:auto
    }
    .search-form{
    width:220px;
    display:flex;
    justify-content:normal;
    flex-direction:row;
    align-items:center;
    flex-basis:auto;
    position:relative
    }
    .search-form__input{
    font-size:14px;
    font-weight:300;
    line-height:inherit;
    letter-spacing:normal;
    font-family:"Merriweather";
    font-style:italic;color:#a8aeae;border:none;
    width:150px
    }
    .search-form__button{
    height:13px;
    width:14px;
    background:url("../img/svg/search.svg") no-repeat;border:none
}
.logo{
display:block;
width:12.55%
}
.logo__image{
max-width:100%
}
.subscribe{
width:151px;
height:38px;
border:1px solid #e9e9e9;
background-color:#fff;
font-size:14px;
font-weight:600;
line-height:inherit;
letter-spacing:3px;
font-family:"Dosis";
color:#242929;
text-transform:uppercase;
vertical-align:middle
}
.subscribe:hover{
background-color:#ffc908
}
.main-nav{
max-width:860px;
width:100%
}
.main-nav--footer{
max-width:62.2222%;
width:100%;
margin-bottom:2.698%
}
.main-nav__list{
display:flex;
justify-content:space-between;
flex-direction:row;
align-items:normal;
flex-basis:auto;
list-style-type:none;
padding-left:0
}
.main-nav__list--footer{
gap:unset;
line-height:4.479vw
}
.main-nav__item{
text-transform:uppercase;
font-size:.833vw;
font-weight:bold;
line-height:inherit;
letter-spacing:.1042vw;
font-family:"Myriad Pro"
}
.main-nav__item--footer{
width:21.046%;
text-align:center
}
.main-nav__link{
text-decoration:none;
color:#242929
}
.main-nav__link--active{
color:#ffc908
}
.main-nav__link:hover{
color:#ffc908
}
.social{
display:flex;
justify-content:space-between;
flex-direction:row;
align-items:center;
flex-basis:auto;
list-style-type:none;
padding-left:0
}
.social--article-list{
width:auto;
justify-content:flex-start;
gap:26px
}
.social--header{
max-width:190px;
width:100%
}
.social--footer{
width:100%
}
.social__item--footer{
max-width:165px
}
.social__image{
fill:#575c5c
}
.social__image--article{
fill:#ffc908;
width:25px;
height:25px
}
.social__image--sidebar{
width:45px;
height:45px;
fill:#575c5c
}
.social__image--sidebar:hover{
fill:#ffc908
}
.social__image:hover{
fill:#ffc908
}
.social__image--article:hover{
fill:#575c5c
}
.social__share-block{
display:flex;
justify-content:normal;
flex-direction:column;
align-items:center;
flex-basis:auto
}
.social__share-text{
font-family:"Neoteric";
font-size:1.198vw;
font-weight:bold;
line-height:2.292vw;
letter-spacing:.2604vw;
text-align:center;
color:#a8aeae;
text-transform:uppercase;
text-decoration:inherit
}
.social__share-text--about{
font-size:2.24vw;
text-transform:none;
margin:8.696% 0 4.348%
}
.social__share-text--article{
font-family:"Myriad Pro";
font-size:1.198vw;
font-weight:bold;
line-height:1.198vw;
letter-spacing:.2604vw;
text-align:left;
color:#a8aeae;
text-transform:uppercase;
text-decoration:inheri
}
.social__name{
font-family:"Myriad Pro";
font-size:.7292vw;
font-weight:bold;
line-height:inherit;
letter-spacing:normal;
text-align:left;
color:#575c5c;
text-transform:uppercase;
text-decoration:inherit
}
.social__link{
text-decoration:none
}
.social__link--footer{
display:flex;
justify-content:normal;
flex-direction:row;
align-items:center;
flex-basis:auto;
gap:12px
}
.social__link--footer:hover *{
color:#ffc908;
fill:#ffc908
}
.main-gallery{
max-width:1920px;
width:100%;display:flex;
justify-content:space-between;
flex-direction:column;
align-items:normal;
flex-basis:auto;
background-size:cover;
padding:8% 0 5% 2%;
margin-bottom:2.083%;
box-shadow:0px 1.3vw 1.3vw 0 #c2c2c2;
box-sizing:border-box
}
.main-gallery--img{
background:url("../img/trav.jpg") center;
transition:all .2s ease-in
}
.main-gallery--img2{
background:url("../img/header.jpg") center;
transition:all .2s ease-in
}
.main-gallery--img3{
background:url("../img/trav2.jpg") center;
transition:all .2s ease-in
}
.main-gallery--img4{
background:url("../img/trav3.jpg") center;
transition:all .2s ease-in
}
.main-gallery--img5{
background:url("../img/trav4.jpg") center;
transition:all .2s ease-in
}
.main-gallery__tagline{
display:block;
width:fit-content;
margin-bottom:17.2%
}
.main-gallery__tagline-header{
display:block;
font-family:"Bank Gothic BT";
font-size:2.5vw;
font-weight:300;
line-height:1.875vw;
letter-spacing:normal;
color:white
}
.main-gallery__tag-wrapper{
width:fit-content;
margin:auto
}
.main-gallery__tagline-tag{
font-family:"Myriad Pro";
font-size:.833vw;
font-weight:bold;
line-height:.78125vw;
letter-spacing:0px;
text-align:left;
color:#fff;
text-transform:uppercase;
text-decoration:inherit
}
.main-gallery__tagline-tag::before{
content:"";display:inline-block;width:14px;height:14px;background:linear-gradient(to bottom left, red, red 50%, transparent 50%, transparent);position:relative;top:2px;margin-right:5px
}
.main-gallery__blog{
font-family:"Myriad Pro";font-size:.9375vw;font-weight:bold;line-height:.99vw;letter-spacing:normal;text-align:center;color:#fff;text-transform:uppercase;text-decoration:inherit
}
.main-gallery__header{
font-family:"Zurich BT";font-size:2.292vw;font-weight:800;line-height:1.7708vw;letter-spacing:-.05208vw;text-align:left;color:#fff;text-transform:uppercase;text-decoration:inherit
}
.main-gallery__main-wrapper{
display:flex;gap:1.1715%;margin-top:1.3845%
}
.main-gallery__nav{
width:2.486%;display:flex;justify-content:normal;flex-direction:column;align-items:normal;flex-basis:auto;gap:2.27%
}
.main-gallery__nav-button{
width:100%;height:20.275%;background:none;border:1px solid white
}
.main-gallery__nav-button:hover{
background-color:#e21712
}
.main-gallery__arrow{
fill:white
}
.main-gallery__arrow--down{
transform:translateY(2px)
}
.main-gallery__arrow--up{
transform:translateY(-1px) rotate(180deg)
}
.main-gallery__text{
width:100%;display:flex;justify-content:normal;flex-direction:column;align-items:normal;flex-basis:auto
}
.main-gallery__description{
width:27.07%;margin:1.05% 0 1.823% 0;font-family:"Myriad Pro";font-size:.9896vw;font-weight:inherit;line-height:.9896vw;letter-spacing:0px;color:white
}
.main-gallery__dots-list{
display:flex;justify-content:normal;flex-direction:row;align-items:normal;flex-basis:auto;padding-left:0;list-style-type:none;color:white;gap:.221%;margin-top:2.043%
}
.main-gallery__dot{
width:8px;height:8px;border:1px solid white;border-radius:50%;background-color:white
}
.main-gallery__dot--active{
background-color:unset
}
.main-content{
width:66.5%
}
.main-content__item{
margin-bottom:10.079%}
.main-content__pagination{
margin:91px 0
}
.content{
max-width:1920px;width:100%;display:flex;padding:0 10px;gap:1.77%;box-sizing:border-box
}
.article{
display:flex;justify-content:normal;flex-direction:row;align-items:normal;flex-basis:auto;position:relative;box-shadow:-.521vw 1.823vw 1.823vw 0 #c2c2c2
}
.article--second{
flex-direction:row-reverse;justify-content:space-between;margin-bottom:10.3175%
}
.article--bigblock{
flex-direction:column;margin-bottom:5.714%
}
.article--bigblock-bottom{margin-bottom:0}.article--fourth{display:grid;grid-template-columns:1fr 1fr;margin-bottom:5.714%}.article--fourth-item{flex-direction:column;box-shadow:none}.article__text{max-width:39.7%;padding:3.57% 0 3.57% 3.18%}.article__text--second{padding-right:7.54%}.article__text--bigblock{max-width:100%;padding:47.62% .794% 3.41% 2.778%}.article__text--smallblock{max-width:100%;padding:107.8% 5.788% 9.001%}.article__blog-section{font-family:"Nirmala UI";font-size:.9375vw;font-weight:bold;line-height:133%;letter-spacing:.2604vw;text-align:left;color:#ffc908;text-transform:uppercase;text-decoration:inherit}.article__blog-section--smallblock{text-align:center}.article__blog-section--bigblock{font-size:1.042vw;font-weight:bold;line-height:inherit;letter-spacing:.3125vw;margin-bottom:.238%}.article__header{font-family:"Nirmala UI";text-align:left;color:#282d2d;text-transform:none;text-decoration:inherit;font-size:1.4583vw;font-weight:normal;line-height:3.125vw;letter-spacing:.2604vw;border-bottom:3px solid #dde1f4;margin-bottom:2.6%;padding:2% 0 2.6%}.article__header--bigblock{width:80%;font-size:1.5625vw;font-weight:normal;line-height:3.125vw;letter-spacing:.3125vw}.article__header--border-none{border-bottom:none;margin-bottom:0}.article__header--smallblock{font-family:"Nirmala UI";font-size:1.4583vw;font-weight:inherit;line-height:3.125vw;letter-spacing:normal;text-align:center;color:#282d2d;text-transform:inherit;text-decoration:inherit;padding-bottom:0}.article__description{font-family:"Myriad Pro";font-size:1.25vw;font-weight:inherit;line-height:1.823vw;letter-spacing:.1042vw;text-align:left;color:#6c7374;text-transform:inherit;text-decoration:inherit}.article__description--none{display:none}.article__interactive{display:flex;justify-content:space-between;flex-direction:row;align-items:normal;flex-basis:auto;margin-top:14%}.article__interactive--bigblock{margin-top:0}.article__interactive--smallblock{margin-top:0}.article__share-block{display:flex;justify-content:center;flex-direction:row;align-items:center;flex-basis:auto;gap:7%}.article__share-block--bigblock{flex-direction:column}.article__social-list{padding-left:0 20px 0 0;list-style-type:none;justify-content:flex-end}.article__image{width:48.016%;height:131.51%;position:absolute;right:2.77778%;top:-19.256%;background:url("../img/absolute-block.jpg");box-shadow:0px 2.344vw 1.823vw 0 #c2c2c2}.article__image--second{width:45.24%;height:125.37%;background:url("../img/absolute-block2.jpg");top:-12.98%;left:0}.article__image--bigblock{width:100%;height:60.768%;background:url("../img/road.jpg");top:0;left:0;box-shadow:none}.article__image--bigblock-bottom{background:url("../img/lifestyle.jpg");background-position:0 -190px}.article__image--smallblock{width:95.17%;height:57.044%;background:url("../img/read-more-2.jpg");right:0;top:0;box-shadow:0px 1.042vw 1.823vw 0 #c2c2c2}.article__image--smallblock-two{background:url("../img/read-more-1.jpg")}.article__image:hover{opacity:.9;transition:all .15s ease-in}.article__image:hover .article__image-button,.article__image:hover .article__info-wrapper--regular{display:block}.article__image-button{display:none}.article__img{max-width:100%}.article__info-wrapper{width:100%;position:absolute;bottom:11.7%;text-align:center;color:#fff;text-transform:inherit;text-decoration:none;font-style:italic}.article__info-wrapper--bigblock{color:#a8aeae;text-align:end;position:static}.article__info-wrapper--smallblock{position:static;margin:2.727% 0 10.909%;font-family:"Nirmala UI";font-size:1.5625vw;font-weight:bold;line-height:inherit;letter-spacing:.3125vw;color:#a8aeae}.article__info-wrapper--regular{display:none}.article__date,.article__likes,.article__comments{font-family:"Myriad Pro";font-size:.78125vw;font-weight:inherit;line-height:inherit;letter-spacing:.15625vw;font-style:normal}.article__date--bigblock,.article__likes--bigblock,.article__comments--bigblock{color:#a8aeae;font-family:"Nirmala UI";font-size:.9375vw;font-weight:bold;line-height:inherit;letter-spacing:.3125}.article__date--smallblock,.article__likes--smallblock,.article__comments--smallblock{font-size:1.3542vw;font-weight:normal;line-height:inherit;letter-spacing:.1042vw}.article__fontawesome{font-size:23px;color:#afdbdc}.article__awesome-color{color:#afdbdc}.button{position:relative;width:27.7778%;background-color:#ffc908;border:none;padding:2.8% 0 2.6%;font-family:"Myriad Pro";font-size:.9375vw;font-weight:bold;line-height:.9375vw;letter-spacing:0;text-align:center;color:#000;text-transform:uppercase;text-decoration:inherit}.button--main-gallery{width:8.287%;padding:.829% 0 .663%}.button--main-gallery::after{content:"";display:block;width:10px;height:10px;background:linear-gradient(to bottom left, black, black 50%, transparent 50%, transparent);position:absolute;top:3px;right:3px}.button--article-image{width:41.32%;height:13.22%;background:none;border:2px solid #d9d4ec;border-radius:2px;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;font-family:"Myriad Pro";font-size:1.354vw;font-weight:bold;line-height:inherit;letter-spacing:.26vw;text-align:center;color:#fff;text-transform:uppercase;text-decoration:none}.button--image-bigblock{width:19.82%;padding:2% 0 3.8%}.button--bigblock{width:15.42%;padding:1.25% 0 1.1667%;font-size:1.51vw;font-weight:bold;line-height:inherit;letter-spacing:normal}.button--smallblock{width:33.636%;padding:1.25% 0 1.1667%;font-size:1.51vw;font-weight:bold;line-height:inherit;letter-spacing:normal}.button:hover{color:white}.pagination{display:flex;justify-content:space-between;flex-direction:row;align-items:center;flex-basis:auto;padding:0 4.762%}.pagination__prev,.pagination__next,.pagination__page{text-decoration:none;color:#575c5c;font-size:21px}.pagination__prev:hover,.pagination__next:hover{color:#ffc908}.pagination__page{display:block;width:50px;height:50px;border-radius:50%;line-height:50px;text-align:center}.pagination__page--selected{background-color:#ffc908;color:white}.pagination__page:not(.pagination__page--selected):hover{color:#ffc908}.pagination__item{position:relative}.pagination__pages{display:flex;justify-content:normal;flex-direction:row;align-items:center;flex-basis:auto;gap:10px;position:relative;right:12px;list-style-type:none;padding-left:0}.pagination__hide{opacity:.3;transition:all .4s ease-out}.sidebar{display:flex;justify-content:normal;flex-direction:column;align-items:normal;flex-basis:auto;max-width:32.74%;width:100%}.sidebar__item{padding:7.717% 3.537% 4.663%;position:relative;box-sizing:border-box;box-shadow:-.521vw .781vw .781vw 0 #c2c2c2}.sidebar__item--position{margin-bottom:6.913%}.sidebar__item--about{padding:7.2345% 0 0;margin-bottom:6.43%}.sidebar__item--newsletter,.sidebar__item--categories,.sidebar__item--recent{position:relative;margin-bottom:5.627%;padding:9% 0 0}.sidebar__item--categories{padding:8.521% 0 0;margin-bottom:7.235%}.sidebar__item--newsletter{padding:6.592% 0 0;margin:78.939% 0 6.27%}.sidebar__item--tags{padding:9.4855% 0 0;margin-bottom:7.717%}.sidebar__item--contact{padding:13.183% 3.537% 3.698%}.sidebar__item-header-wrapper{width:73.955%;height:6.689%;position:absolute;top:5.351%;left:0;right:0;margin:auto;z-index:-1;border:3px solid #dde1f4}.sidebar__item-header-wrapper--about{height:auto;position:relative;top:0}.sidebar__item-header-wrapper--newsletter,.sidebar__item-header-wrapper--categories,.sidebar__item-header-wrapper--recent{width:auto;height:auto;position:relative;top:auto;padding-bottom:2.572%}.sidebar__item-header{display:inline-block;width:fit-content;position:absolute;top:-.6em;left:0;right:0;margin:auto;font-family:"Myriad Pro";font-size:1.5625vw;font-weight:bold;line-height:inherit;letter-spacing:normal;text-align:left;color:#413f3f;text-transform:uppercase;text-decoration:inherit;background:white;box-shadow:0 -.521vw .1563vw 1.719vw white}.sidebar__item-header--newsletter,.sidebar__item-header--categories,.sidebar__item-header--recent,.sidebar__item-header--tags{font-family:"Pompiere";font-size:2.9167vw;font-weight:400;line-height:inherit;letter-spacing:normal;text-align:left;color:#282d2d;text-transform:capitalize;text-decoration:inherit;box-shadow:0 -.7813vw .1563vw 1.5625vw white}.sidebar__item-header--tags{box-shadow:0 -1.512vw 0.1563vw 1.5625vw white}.sidebar__item-header--categories{box-shadow:0 -1.221vw 0.1563vw 1.719vw white}.sidebar__item-header--contact{box-shadow:none;background-color:unset;top:4.545%}.sidebar__item-text{display:inline-block;margin-top:8.696%;font-family:"Myriad Pro";font-size:1.3542vw;font-weight:inherit;line-height:2.2396vw;letter-spacing:normal;text-align:center;color:#575c5c;text-transform:inherit;text-decoration:inherit}.sidebar__item-text--about{display:block;box-shadow:0 0 0px 25px white}.sidebar__item-share{margin-bottom:3.261%;box-shadow:0 0 0 15px white}.sidebar__item-content{padding-top:8.82%}.sidebar__item-content--about{width:100%;height:134.524%;background:url("../img/i.jpg");background-position:-280px -700px;background-size:270%;margin-top:1.608%;padding-top:0;box-shadow:-10px 15px 15px 0 #c2c2c2}.sidebar__item-form{display:flex;justify-content:normal;flex-direction:column;align-items:normal;flex-basis:auto;margin-top:11.364%;gap:27px;box-shadow:0 -16px 0 16px white}.sidebar__item-form-text{border:none;border-bottom:1px solid black;font-family:"Merriweather";font-size:1.3542vw;font-weight:300;line-height:inherit;letter-spacing:normal;text-align:center;color:#a8aeae;text-transform:inherit;text-decoration:inherit;font-style:italic}.sidebar__item-form-submit{padding:1.948% 0 2.11%;background-color:#a9b3e3;border:none;font-family:"Dosis";font-size:1.3542vw;font-weight:600;line-height:inherit;letter-spacing:.2604vw;text-align:center;color:#fff;text-transform:uppercase;text-decoration:inherit;margin-bottom:9.578%}.sidebar__image{max-width:100%;box-shadow:0px -15px 0px 3px white}.sidebar__image--about{height:491px;box-shadow:none;margin-top:10px}.sidebar__item-list{padding-left:0;list-style-type:none;padding:1.136% 8.117% 0;box-shadow:0 0 0 3px white;margin-top:3.734%}.sidebar__item-list--recent{padding:5.03% 3.571% 5.52%;box-shadow:0 7px 0 9px white}.sidebar__item-list--tags{display:grid;grid-template-columns:1fr 1fr;justify-items:center;gap:0 5.357%;padding:2.435% 3.571% 3.2154%}.sidebar__item-list-li{font-family:"Myriad Pro";font-size:1.40625vw;font-weight:inherit;line-height:2.9688vw;letter-spacing:normal;text-align:center;color:#575c5c;text-transform:inherit;text-decoration:inherit;border-bottom:1px solid #e9e9e9}.sidebar__item-list-li--categories:last-child{border-bottom:none}.sidebar__item-list-li--recent{max-height:104px;display:flex;justify-content:normal;flex-direction:row;align-items:normal;flex-basis:auto;text-align:left;gap:7.34%;border-bottom:none;margin-bottom:2.8%}.sidebar__item-list-li--recent:last-child{margin-bottom:none}.sidebar__item-list-li--tags{width:94.643%;border:2px solid #ffc908;font-family:"Myriad Pro";display:flex;justify-content:normal;flex-direction:row;align-items:center;flex-basis:auto;font-size:2.1354vw;font-weight:inherit;line-height:2.1404vw;letter-spacing:normal;text-align:left;color:#242929;text-transform:uppercase;text-decoration:inherit;padding-left:2.963%;margin-bottom:10%}.sidebar__item-list-li:hover{color:#ffc908}.sidebar__item-img{width:32.5%}.sidebar__content-title,.sidebar__content-date{font-family:"Open Sans";font-size:1.4583vw;font-weight:400;line-height:1.4583vw;letter-spacing:normal;text-align:left;color:#282d2d;text-transform:inherit;text-decoration:inherit}.sidebar__content-date{color:#a8aeae}.sidebar__contact-form{display:flex;justify-content:normal;flex-direction:column;align-items:normal;flex-basis:auto}.sidebar__input-field{padding-left:3.46%;padding:2.076% 0 2.249% 3.46%;margin-bottom:2.595%}.sidebar__textarea{height:188px;padding:3.745% 0 0 3.745%;box-sizing:border-box}.sidebar__input-field,.sidebar__textarea{border:2px solid #f4f7f9;background-color:#fafbfc;font-family:"Open Sans";font-size:.677vw;font-weight:400;line-height:inherit;letter-spacing:normal;color:#777}.sidebar__textarea::before{content:attr(data-area)}.sidebar__submit{width:20.242%;background-color:#ffc908;border-radius:2px;border:none;margin:3.806% auto 0;padding:1.664% 0 1.848%;font-family:"Open Sans";font-size:1.7188vw;font-weight:400;line-height:1.7188vw;letter-spacing:normal;color:#0a0a0a}.photo{display:grid;max-width:1920px;gap:33px}.photo__row{display:grid;justify-content:center;grid-template-columns:repeat(4, minmax(320px, 1fr))}.photo__row:first-child{box-shadow:0 .833vw .833vw 0 #c2c2c2}.photo__item{width:100%;max-height:468px}@media (max-width: 1300px){.photo__row{grid-template-columns:repeat(2, minmax(160px, 1fr))}}.page-footer{max-width:1920px;display:flex;justify-content:normal;flex-direction:column;align-items:center;flex-basis:auto;position:relative}.page-footer__social-container{max-width:1260px;width:100%;margin:2.6042% 0}.page-footer__wrapper{width:100%;background-color:#737373;padding-top:2.6042%}.page-footer__container{max-width:1260px;margin:0 auto;display:flex;justify-content:normal;flex-direction:column;align-items:center;flex-basis:auto}.copyright{width:100%;display:flex;justify-content:flex-end;flex-direction:row;align-items:center;flex-basis:auto;gap:40px;font-family:"Helvetica LT Std";font-size:1.4063vw;font-weight:inherit;line-height:3.542vw;letter-spacing:.1042vw;color:#645a5a;padding-right:.521%}.up-button{width:5.21%;height:15.96%;display:block;position:absolute;bottom:6.383%;background-color:white;border:none}.up-button::before{content:'';display:block;width:10px;height:10px;background:linear-gradient(to top right, red, red 50%, white 50%, white);position:absolute;bottom:3px;left:3px}.up-button::after{content:'';display:block;width:10px;height:10px;background:linear-gradient(to top left, red, red 50%, white 50%, white);position:absolute;bottom:3px;right:3px}.up-button__arrow{transform:rotate(180deg)}
    