.facebook_logo, .instagram_logo, .youtube_logo, .telegram_logo, .discord_logo{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  .facebook_logo:hover, .instagram_logo:hover, .youtube_logo:hover, .telegram_logo:hover,  .discord_logo:hover{
    background-color: rgb(255, 0, 0);
  }
  .next p  {
    margin-left: 80px;
    font-weight: bold;
    color: #ccc;
    font-size: 18px;
    display: inline-block;
    padding: 20px 260px;
    text-decoration: none; 
}
.btns{ 
  display: inline-block;
  background-color: #1bbb18;
  color: #fff;
  padding: 7px 30px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
}